{{!-- Character Sheet Header --}}
<header class="sheet-header flexrow">
  <img class="profile-img" src="{{actor.img}}" data-edit="img"
       title="{{actor.name}}" height="100" width="100" />
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}"
             placeholder="{{localize 'ARIANRHOD.CharacterName'}}" />
    </h1>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.Race"}}</label>
        <input type="text" name="system.race" value="{{system.race}}" />
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Age"}}</label>
        <input type="text" name="system.age" value="{{system.age}}" />
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Gender"}}</label>
        <input type="text" name="system.gender" value="{{system.gender}}" />
      </div>
    </div>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.MainClass"}}</label>
        <select name="system.mainClass">
          <option value="">--</option>
          {{#each config.mainClasses as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.mainClass key)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.SupportClass"}}</label>
        <select name="system.supportClass">
          <option value="">--</option>
          {{#each config.supportClasses as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.supportClass key)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field field-sm">
        <label>{{localize "ARIANRHOD.Level"}}</label>
        <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" />
      </div>
      <div class="field field-sm">
        <label>{{localize "ARIANRHOD.Experience"}}</label>
        <input type="number" name="system.experience" value="{{system.experience}}" data-dtype="Number" />
      </div>
    </div>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.Guild"}}</label>
        <input type="text" name="system.guild" value="{{system.guild}}" />
      </div>
    </div>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.Origin"}}</label>
        <input type="text" name="system.lifePath.origin" value="{{system.lifePath.origin}}" />
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Circumstance"}}</label>
        <input type="text" name="system.lifePath.circumstance" value="{{system.lifePath.circumstance}}" />
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Objective"}}</label>
        <input type="text" name="system.lifePath.objective" value="{{system.lifePath.objective}}" />
      </div>
    </div>
  </div>
</header>
