{{!-- Character Sheet Header --}}
<header class="sheet-header flexrow">
  <img class="profile-img" src="{{actor.img}}" data-action="editImage"
       title="{{actor.name}}" height="100" width="100" />
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}"
             placeholder="{{localize 'ARIANRHOD.CharacterName'}}" />
    </h1>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.Race"}}</label>
        <select name="system.race">
          <option value="">--</option>
          {{#each config.races as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.race key)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Age"}}</label>
        <input type="text" name="system.age" value="{{system.age}}" />
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.Gender"}}</label>
        <input type="text" name="system.gender" value="{{system.gender}}" />
      </div>
    </div>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.MainClass"}}</label>
        <select name="system.mainClass">
          <option value="">--</option>
          {{#each config.mainClasses as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.mainClass key)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field">
        <label>{{localize "ARIANRHOD.SupportClass"}}</label>
        <select name="system.supportClass">
          <option value="">--</option>
          {{#each config.supportClasses as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.supportClass key)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field field-sm">
        <label>{{localize "ARIANRHOD.Level"}}</label>
        <div class="level-control">
          <button type="button" data-action="levelDown" title="{{localize 'ARIANRHOD.LevelDown'}}">-</button>
          <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" />
          <button type="button" data-action="levelUp" title="{{localize 'ARIANRHOD.LevelUp'}}">+</button>
        </div>
      </div>
      <div class="field field-sm">
        <label>{{localize "ARIANRHOD.Experience"}}</label>
        <input type="number" name="system.experience" value="{{system.experience}}" data-dtype="Number" />
      </div>
      <div class="field field-sm">
        <label>{{localize "ARIANRHOD.GrowthPoints"}}</label>
        <div class="growth-display">
          <span class="growth-remaining">{{system.growthPoints.remaining}}</span>
          <span class="growth-detail">({{system.growthPoints.spent}}/{{system.growthPoints.total}})</span>
        </div>
      </div>
    </div>
    <div class="header-details flexrow">
      <div class="field">
        <label>{{localize "ARIANRHOD.Guild"}}</label>
        <input type="text" name="system.guild" value="{{system.guild}}" />
      </div>
      <div class="field field-io">
        <button type="button" class="io-btn" data-action="exportCharacter" title="{{localize 'ARIANRHOD.ExportCharacter'}}">
          <i class="fas fa-file-export"></i>
        </button>
        <button type="button" class="io-btn" data-action="importCharacter" title="{{localize 'ARIANRHOD.ImportCharacter'}}">
          <i class="fas fa-file-import"></i>
        </button>
      </div>
    </div>
  </div>
</header>
