<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img"
         title="{{item.name}}" height="48" width="48" />
    <h1 class="item-name">
      <input name="name" type="text" value="{{item.name}}"
             placeholder="{{localize 'ARIANRHOD.Item'}}" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "ARIANRHOD.CombatStats"}}</a>
    <a class="item" data-tab="description">{{localize "ARIANRHOD.Description"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Effect"}}</label>
        <input type="text" name="system.effect" value="{{system.effect}}" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Quantity"}}</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}"
               data-dtype="Number" min="0" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Weight"}}</label>
        <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Price"}}</label>
        <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" />
      </div>
    </div>

    <div class="tab description" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description"
               button=true editable=editable}}
    </div>
  </section>
</form>
