<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img"
         title="{{item.name}}" height="48" width="48" />
    <h1 class="item-name">
      <input name="name" type="text" value="{{item.name}}"
             placeholder="{{localize 'ARIANRHOD.Skill'}}" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "ARIANRHOD.CombatStats"}}</a>
    <a class="item" data-tab="description">{{localize "ARIANRHOD.Description"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>{{localize "ARIANRHOD.SkillClass"}}</label>
        <input type="text" name="system.skillClass" value="{{system.skillClass}}" />
      </div>
      <div class="form-group flexrow">
        <div class="form-field">
          <label>{{localize "ARIANRHOD.SkillLevel"}}</label>
          <input type="number" name="system.level" value="{{system.level}}"
                 data-dtype="Number" min="1" />
        </div>
        <div class="form-field">
          <label>{{localize "ARIANRHOD.SkillMaxLevel"}}</label>
          <input type="number" name="system.maxLevel" value="{{system.maxLevel}}"
                 data-dtype="Number" min="1" />
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Timing"}}</label>
        <input type="text" name="system.timing" value="{{system.timing}}" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Target"}}</label>
        <input type="text" name="system.target" value="{{system.target}}" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Range"}}</label>
        <input type="text" name="system.range" value="{{system.range}}" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Cost"}}</label>
        <input type="text" name="system.cost" value="{{system.cost}}" />
      </div>
      <div class="form-group">
        <label>{{localize "ARIANRHOD.Effect"}}</label>
        <textarea name="system.effect" rows="4">{{system.effect}}</textarea>
      </div>
    </div>

    <div class="tab description" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description"
               button=true editable=editable}}
    </div>
  </section>
</form>
